table {
  width: 50%;
  height: 50%;
  margin-left: 360px;
}
h1 {
  text-align: center;
  color: blueviolet;
}
.office {
  background-color: rgb(239, 182, 76);
  text-align: center;
}
.dept {
  background-color: rgb(178, 170, 170);
  text-align: center;
}
.mat {
  background-color: rgb(81, 247, 81);
  text-align: center;
}
.csc {
  background-color: rgb(224, 128, 224);
  text-align: center;
}
.highlight {
  text-align: end;
}
